@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'DessauProDrei';
  src: url('./assets/DessauProDrei.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#logo {
  font-family: 'DessauProDrei';
}

:root {
  --theme: palevioletred;
  /* --theme : pink; */
  --primary: wheat;
}

body::-webkit-scrollbar{
  width: 10px;
  background: lightgray;
  border-radius: 10px;
}
body::-webkit-scrollbar-thumb{
  background: var(--theme);
  border-radius: 10px;
}

.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.384);
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.loader section {
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme);
  border-radius: 50%;
}

.loader i {
  color: var(--primary);
  font-size: 5rem;
}

.verified i {
  width: 35px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--theme);
  color: var(--primary);
  border-radius: 50%;
  height: 35px;
}


strong sub {
  width: 40px;
  height: 4px;
  background: var(--theme);
  display: block;
}

input,
textarea {
  padding: 5px 10px;
  width: calc(100% - 20px);
  background: whitesmoke;
  border-radius: 5px;
}

select {
  background: whitesmoke;
  border-radius: 5px;
  height: 40px;
}

input {
  height: 30px;
  margin: 1px 0;
}

textarea {
  resize: none;
  height: 100px;
}